# Ignore Terraform provider binaries
**/.terraform/providers/*

# State files 
*.tfstate
*.tfstate.*

# Crash log files
*.log

# Sensitive data
*.tfvars

# Exclude any large files
*.tar.gz
*.zip
*.rar
*.exe
*.dll
*.so
*.a
